{% extends 'base.html' %}

{%block title%} {% endblock %}

{%block body %}


<h1 class="title">Assesssment information</h1>



<p><a href=" https://medicine.umich.edu/dept/psychiatry/programs/anxiety-disorders-program-adult/patient-resources">Learn More About the Anxiety
	Assessment
</a></p>

<p><a href=" https://uhs.umich.edu/depression">Learn More About the Depression
	Assessment
	
</a></p>
<p><a href=" https://uhs.umich.edu/depression">Learn More About the Insomnia
	Assessment
	
</a></p>


<h3 id="natres">National resources:</h3>
National Crisis Text Line offers free 24/7 support at your fingertips. Text HOME to 741741 and "a live, trained Crisis Counselor receives the text and responds, all from our secure online platform. The volunteer Crisis Counselor will help you move from a hot moment to a cool moment."

Anxiety and Depression Association of America
240-485-1001
Committed to improving the lives of the people who suffer from anxiety disorders through promotion of early diagnosis, treatment and cure.

Facebook aims to help prevent suicide. If you spot a suicidal thought on a friend's page, you can report it to Facebook by clicking a link next to the comment. Facebook then sends an email to the person who posted the suicidal comment, encouraging them to call the hotline or click on a link to begin a confidential chat.

National Alliance on Mental Illness (NAMI)
800-950-NAMI (6264)
Dedicated to the eradication of mental illnesses and to the improvement of the quality of life of all whose lives are affected by these diseases.

National Mental Health Consumer's Self-Help Clearinghouse
800-553-4539 or 215-751-1810
Helps connect individuals to self-help and advocacy resources, and offers expertise to self-help groups and other peer-run services for mental health consumers.
</p>

{% endblock %}