{% extends 'base.html' %}
{% block title %}Insomnia{% endblock %}


{% block body %}
  <h1>Insomnia</h1>

 
  
    {% for i in question %}
    <ul>
      <li>
       
          {{ i.question}}
          <form action="/insomnia_answers" method="post">
            <p>
              zero being none at all, 4 being all the time or often:
              <select name="{{i.question_id}}" id="ianswer">
                <option value="">Select Choice</option>
                {% for num in range(5) %}
                  <option value="{{ num }}">{{ num }}</option>
                {% endfor %}
              </select>
            </p>
            
          
        
      </li>
    </ul>
    {% endfor %}
    <p><input type="submit"></p>
</form>
<a href="/login">Return Home</a>
{% endblock %}