{% extends 'base.html' %}
{% block title %}provider list{% endblock %}


{% block body %}

<div>
<form action="/therapist" method="POST">
	<p>
	  What city, state would you like to search? <input type="text" name="city">

  
	  <p>
		<input type="submit">
	  </p>
	</form>



  <h1>provider list</h1>

 
  

    {% for provider in provider_list %}
        <p>{{ provider['name'] }}</p>
        <p>{{  provider['other'] }}</p>
        <p>{{  provider['address'] }}</p>
        

      

    {% endfor %}
    
        
      

<a href="./map.html">Click Here to get directions to the provider's office!</a>

{% endblock %}